
/*
 * Logo stuff
 */
.logo {
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid #6c757d;
    margin-left: auto;
    margin-right: auto;
}
.logo img {
    max-height: 150px;
}
.logo .logo-text {
    font-variant-caps: all-petite-caps;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    font-variant: all-small-caps;
    color: #004479;
    font-weight: 600;
    margin-top: -15px;
}
.logo .logo-slogan {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
    margin-top: -10px;
}

/*
 * Docs house style
 */
h1, h2, h3, h4 {
    font-family: "Times New Roman", serif;
    color: #004479;
    font-style: italic;
}
h1 {
    margin-top: 2rem;
}

h2,h3,h4 {
    margin-top: 2rem;
}

pre {
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
}


/*
 * To Do List example
 */
.todo-list .item-done {
    text-decoration: line-through;
}
.todo-list input {
    margin: 5px;
}
