.scatter-area {
    background: whitesmoke;
    touch-action: none;
}

.scatter-area text {
    touch-action: none;
}

.scatter-area .tile text {
    dominant-baseline: text-before-edge;
    stroke: none;
    fill: black;
    font-family: "Fira Code", monospace;
    white-space: pre;
    touch-action: none;
}

.tile {
    stroke: darkslategray;
    fill: white;
    stroke-width: 2;
    stroke-linejoin: round;
}

.scatter-area .tile.contained > rect {
    stroke: none;
}

.scatter-area .tile.contained.mouseover {
    fill: #ffc65c;
}

.scatter-area .socket {
    stroke: slategray;
    fill: whitesmoke;
}

.scatter-area .socket.active {
    stroke: darkorange;
    fill: whitesmoke;
}

