
#render-here {
    padding-top: 40px;
}

.resizable {
    min-height: 480px;
    resize: both;
    overflow: hidden;
    margin-right: 0.25rem;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    position: relative;
    left:0;
    top:0;
}

.vslides-top {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d7d8d2;
    overflow: hidden;
}
.vslides-top.unscaled {
    overflow: inherit;
}

.vslides-top .vslides-scaler {
    transform-origin: top left;
    background: white;
    position: relative;
    box-shadow: 0 0 30px #888;
    overflow: hidden;
}

.vslides-top .vslide {
    padding: 20px;
}

.v-sequencer {
    overflow: hidden;
}

.v-sequencer-slide.inactive {
    visibility: hidden;
}

.v-sequencer-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.v-sequencer .v-sequencer-footbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.v-sequencer .v-sequencer-footbox button {
    border-color: #6c757d;
    background-color: #6c757d;
    border-radius: 0.2rem;
    color: #fff;
}


/*
 * Table of contents sidebar
 */

.outer {
    display: grid;
    grid-template-columns: 250px auto;
}

.sidebar {
    padding: 20px;
    background: #f9f9ff;
    border-right: 1px solid #6c757d;
    position: sticky;
    height: calc(100vh - 40px);
    width: 250px;
    top: 40px;
}


.sidebar ul.toc {
    list-style: none;
    padding-inline-start: 0;
    margin-top: 20px;
    font-size: 16px;
}
ul.toc .toc-item {
    line-height: 32px;
    font-weight: 400;
}
ul.toc .toc-item.active {
    line-height: 2.5rem;
    font-weight: 600;
}

ul.toc .toc-item .toc-link {
    color: rgba(0,0,0, 0.85);
}


/*
 * Logo stuff
 */
.logo {
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid #6c757d;
    margin-left: auto;
    margin-right: auto;
}
.logo img {
    max-height: 150px;
}
.logo .logo-text {
    font-variant-caps: all-petite-caps;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    font-variant: all-small-caps;
    color: #004479;
    font-weight: 600;
    margin-top: -15px;
}
.logo .logo-slogan {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
    margin-top: -10px;
}

/*
 * Docs house style
 */
h1, h2, h3, h4 {
    font-family: "Times New Roman", serif;
    color: #004479;
    font-variant-caps: petite-caps;
}
h1 {
    margin-top: 2rem;
}

h2,h3,h4 {
    margin-top: 2rem;
}

pre {
    background: aliceblue;
    padding: 10px;
    border: 1px solid #004479;
}

.embedded-example {
    background: antiquewhite;
    padding: 10px;
    border: 1px solid #004479;
}

.embedded-example canvas.mousetrails {
    background: white;
    border: 1px solid #004479;
    margin-bottom: 5px;
}

.embedded-example .hello-world {
    margin-bottom: 15px;
}

.embedded-example svg.particles {
    margin: 15px;
    background: white;
    border: 1px solid #004479;
}


/*
 * To Do List example
 */
.todo-list .item-done {
    text-decoration: line-through;
}
.todo-list input {
    margin: 5px;
}

/*
 #render-here {
      padding-top: 48px;
    }

    .sidebar {
      background: #f9f9ff;
      padding: 5px;
    }

    .well {
      stroke: #fc5858;
      stroke-width: 2;
      fill: #f69191;
    }

    .asteroid {
      fill: #76addb;
      stroke: #0275d8;
      stroke-width: 2;
    }

    svg {
      background: #d9e2e7;
    }

 */