
.resizable {
    min-height: 480px;
    resize: both;
    overflow: hidden;
    margin-right: 0.25rem;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    position: relative;
    left:0;
    top:0;
}

.vslides-top {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d7d8d2;
    overflow: hidden;
}

.vslides-top .vslides-scaler {
    transform-origin: top left;
    background: white;
    position: relative;
    box-shadow: 0 0 30px #888;
    overflow: hidden;
}

.vslides-top .vslide {
    padding: 20px;
}

.v-sequencer {
    overflow: hidden;
}

.v-sequencer-slide.inactive {
    visibility: hidden;
}

.v-sequencer-slide {
    position: absolute;
    top: 0;
    left: 0;
}

.v-sequencer .v-sequencer-footbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.v-sequencer .v-sequencer-footbox button {
    border-color: #6c757d;
    background-color: #6c757d;
    border-radius: 0.2rem;
    color: #fff;


}


